// PAGE WORKS

.controls{
  margin: 0 auto;
  text-align: center;
  padding: 2%;
  background: $color_banniere;
  color: #eee;
}
button{
  display: inline-block;
  padding: .4em .8em;
  background: $blue_middle;
  border: 0;
  color: #ddd;
  font-family: $font_body;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}
button.active{
  background: $blue_dark;
}
button:focus{
  outline: 0 none;
}
button + label{
  margin-left: 1em;
}
.container{
  -webkit-backface-visibility: hidden;
  margin-bottom: 0px;
}
.container .mix,
.container .gap, .projet{
  width: 50%;
}
.container .mix{
  display: none;
}
.mix.category-1, .mix.category-2, .projet{
  position: relative;
  float: left;
  overflow: hidden;
}
.projet-lien{
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 500;
}
.mix.category-1 img, .mix.category-2 img, .projet img{
  display: block;
  width: 100%;
  transition: all 1.5 ease 0s;
}
.mix.category-1 h2, .mix.category-2 h2, .projet h2,{
  background-color: $blue_middle;
  bottom: -50px;
  color: white;
  display: block;
  font-size: 1.5em;
  left: 0;
  opacity: 0;
  padding-top: 125px;
  position: absolute;
  right: 100%;
  text-align: center;
  top: -50px;
  transition: all 0.4s ease-in-out;
  font-family: $font_body, sans-serif;
}
.mix.category-1:hover h2, .mix.category-2:hover h2, .projet:hover h2, .mix.category-1 a:focus~h2, .mix.category-2 a:focus~h2, .projet a:focus~h2{
  opacity: 0.9;
  right: 0%;
  z-index: 0;
}
footer{
  display: block;
  margin-bottom: 40px;
}
footer:after{
  clear: both;
  content: "";
  display: block;
}
.footer{
  display: inline-block;
  height: 50px;
  float: left;
  width: 100%;
  background-color: $blue_dark;
}
.footer p{
  color: white;
  font-size: 0.8em;
  text-align: center;
}
