// PAGE SKILLS

.pageSkills{
  margin-bottom: 150px;
}
.banLogoMin, .banTitre{
  width: 50%;
  display: inline-block;
  height: 100%;
}
.banLogoMin img{
  display: block;
  margin: 0 auto;
  padding-top: 70px;
}
.banTitre{
  float: right;
}
.banTitre span{
  text-align: center;
  color: $blue_middle;
  text-transform: uppercase;
  font-family: $font_ubuntu, sans-serif;
  font-size: 1.4em;
  border: none;
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding: 15px;
}
.banTitre h1{
  text-align: center;
  text-transform: uppercase;
  font-family: $font_ubuntu, sans-serif;
  font-size: 0.9em;
  margin-top: 120px
}
.skillsWeb{
  background-color: white;
}
.skills2D{
  background-color: white;
}
.skillsWeb, .skills2D{
  display: inline-block;
  width: 50%;
  float: left;
  height: 100%;
}
.skillsWeb p, .skills2D p{
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 30px;
  text-decoration: overline;
  letter-spacing: 0.5;
}
.skillsWeb a, .skills2D a{
  text-decoration: none;
}
.skillsWeb img, .skills2D img{
  margin: 0 auto;
  display: block;
  transition: 0.4s ease-out;
}
.skillsWeb img:hover, .skills2D img:hover{
  transform: scale(0.95);
}
